* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #011627;
    overflow: hidden;
}

.main {
    height: 100vh;
    overflow: hidden;
}

.circle {
    position: absolute;
    width: 20px;
    height: 2px;
    border: 1px solid #000;
    border-radius: 11px;
    overflow: hidden !important;
    pointer-events: none;
}

@font-face {
    font-family: Firacode;
    src: url(../fonts/FiraCode-Regular.ttf);
}

@font-face {
    font-family: kolkheti;
    src: url(../fonts/ka-kolheti-webfont.ttf);
}




/* Navbar */


.branditem {
    font-family: Firacode;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    color: #607B96;
    text-decoration: none;
    transition: 0.7s;
}

.branditem:hover {
    color: #fff;
}

.branditem:focus {
    color: #607B96;
}

.navborder {
    border: 1px solid #1E2D3D;
}

.liborder1 {
    border-right: 1px solid #1E2D3D;
    border-left: 1px solid #1E2D3D;
}

.liborder {
    border-right: 1px solid #1E2D3D;
}

.navLinks {
    color: #607B96;
    font-family: Firacode;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    transition: 0.7s;
}

.navLinks:hover {
    color: #fff;
    text-shadow: 0px 15px 2px rgba(77,91,206,0.6);
}

.navLinks:focus {
    text-shadow: 0px 15px 2px rgba(77,91,206,0.6);
    color: #fff;
}

.contact {
    color: #607B96;
    text-align: right;
    font-family: Firacode;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-decoration: none;
    transition: 0.7s;
}

.contact:hover {
    color: #fff;
    text-shadow: 0px 15px 2px rgba(77,91,206,0.6);
}

.borderdiv {
    border-left: 1px solid #1E2D3D;
}



/* Content */




.textbox {
    margin-top: 120px;
    padding-top: 55px;
    padding-left: 55px;
}

.p-hello {
    color: #E5E9F0;
    font-family: Firacode;
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin: 0;
}

.h2-name {
    color: #E5E9F0;
    font-family: kolkheti;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    border: 1px dashed #607b961a;
}

.p-frontend {
    color: #4D5BCE;
    font-family: Firacode;
    font-size: 32px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin: 0;
}

.shadowdown {
    text-shadow: 0px 7px 2px rgba(246,195,68,0.29);
}

.p-comment {
    color: #607B96;
    font-family: kolkheti;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin-top: 81px;
}

.let {
    color: #5175AC;
    font-family: Firacode;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-shadow: 1px 15px 3px rgba(81,117,172,0.71);
}

.letlink {
    color: #DCDCAF;
    font-family: Firacode;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-shadow: 1px 15px 3px rgba(220,220,175,0.71);
}

.gitlink {
    color: #BF8B75;
    font-family: Firacode;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    transition: 0.7s;
    text-shadow: 1px 15px 3px rgba(191,139,117,0.71);
}

.gitlink:hover {
    margin-left: 3px;
    text-shadow: none;
    -webkit-animation: gitlinkdrop 2s infinite;
    animation: gitlinkdrop 2s infinite;
    animation-timing-function:cubic-bezier(10, 0, 15, 0);
}

@keyframes gitlinkdrop {
    0% {
        color: #BF8B75;
    }
    100%{
        color: transparent;
    }
}

.sumshadow {
    text-shadow: 1px 15px 3px rgba(255,255,255,0.71);
}

.githubsky {
    color: #72D6AF;
    font-family: kolkheti;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    left: 35.9%;
    top: 7.35%;
}

.github {
    color: #607B96;
    font-family: kolkheti;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin-top: 81px;
    -webkit-animation: shadowgit 10s linear infinite;
    animation: shadowgit 10s linear infinite;
}

@keyframes shadowgit {
    0% {
        text-shadow: 0px 0px 3px rgba(114,214,175,0.77);
    }
    50% {
        text-shadow: 90px -401px 3px rgba(114,214,175,0.82);
    }
    99%{
        text-shadow: none;
    }
    100% {
        color: #72D6AF;
    }
}

.playMusic {
    right: 0;
    top: 12px;

    -webkit-animation: play 10s linear infinite;
    animation: play 10s linear infinite;
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
}

@keyframes play {
    0% {
        transform: scale(1.05);
    }
    50% {
        top: 35px;
    }
    100% {
        top: 12px;
        transform: scale(1);
    }
}

.speakerbtn {
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 12px;
    width: 65px;
    height: 65px;
}

.spkr {
    width: 65px;
    height: 65px;
}



/* Footer */



.footborder {
    border: 1px solid #1E2D3D;
}

.findMe {
    color: #607B96;
    font-family: Firacode;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin: 0;
    text-align: center;
}

.colborder {
    border-right: 1px solid #1E2D3D;
    padding-top: 20px;
    padding-bottom: 20px;
}

.colborder1 {
    border-right: 1px solid #1E2D3D;
}

.social {
    width: 26px;
    height: 29px;
}

.social g:nth-child(3) > path:nth-child(2) {
    fill: #4D5BCE !important;
}

.deefyb {
    color: #607B96;
    font-family: Firacode;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin: 0;
}

.colborder707 {
    border-left: 1px solid #1E2D3D;
}

.copyright {
    color: #607B96;
    font-family: kolkati;
    font-size: 11px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin: 0;
    display: flex;
    align-items: center;
}