* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #011627;
}

@font-face {
    font-family: Firacode;
    src: url(../fonts/FiraCode-Regular.ttf);
}

@font-face {
    font-family: kolkheti;
    src: url(../fonts/ka-kolheti-webfont.ttf);
}


::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(37,77,78);
    background: linear-gradient(180deg, rgba(37,77,78,0.5719713910955007) 0%, rgba(35,53,99,1) 100%);
    border-radius: 12px;
}



/* Navbar */


.branditem {
    font-family: Firacode;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    color: #607B96;
    text-decoration: none;
    transition: 0.7s;
}

.branditem:hover {
    color: #fff;
}

.branditem:focus {
    color: #607B96;
}

.navborder {
    border: 1px solid #1E2D3D;
}

.burgerbtn {
    outline: none !important;
    border: none !important;
}


/* Hamburger-Menu */


:root {
    --bar-width: 35px;
    --bar-height: 5px;
    --hamburger-gap: 6px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    --background: #607B96;
    --foreground: #BF8B75;
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: '';
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--background);
    transform-origin: left center;
    border-radius: 50px;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotation var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;

}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}
.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}


/* Hamburger-Menu */



.liborder1 {
    border-right: 1px solid #1E2D3D;
    border-left: 1px solid #1E2D3D;
}

.liborder {
    border-right: 1px solid #1E2D3D;
}

.navLinks {
    color: #607B96;
    font-family: Firacode;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    transition: 0.7s;
}

.navLinks:hover {
    color: #fff;
    text-shadow: 0px 15px 2px rgba(77,91,206,0.6);
}

.navLinks:focus {
    text-shadow: 0px 15px 2px rgba(77,91,206,0.6);
    color: #fff;
}

.contact {
    color: #607B96;
    text-align: right;
    font-family: Firacode;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    text-decoration: none;
    transition: 0.7s;
}

.contact:hover {
    color: #fff;
    text-shadow: 0px 15px 2px rgba(77,91,206,0.6);
}

.borderdiv {
    border-right: 1px solid #1E2D3D;
}



/* Content */




.textbox {
    margin-top: 120px;
    padding-top: 55px;
    padding-left: 55px;
}

.p-hello {
    color: #E5E9F0;
    font-family: Firacode;
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin: 0;
}

.h2-name {
    color: #E5E9F0;
    font-family: kolkheti;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    border: 1px dashed #607b961a;
}

.p-frontend {
    color: #4D5BCE;
    font-family: Firacode;
    font-size: 32px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin: 0;
}

.shadowdown {
    text-shadow: 0px 7px 2px rgba(246,195,68,0.29);
}

.p-comment {
    color: #607B96;
    font-family: kolkheti;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin-top: 81px;
}

.let {
    color: #5175AC;
    font-family: Firacode;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-shadow: 1px 15px 3px rgba(81,117,172,0.71);
}

.letlink {
    color: #DCDCAF;
    font-family: Firacode;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-shadow: 1px 15px 3px rgba(220,220,175,0.71);
}

.gitlink {
    color: #BF8B75;
    font-family: Firacode;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    transition: 0.7s;
    text-shadow: 1px 15px 3px rgba(191,139,117,0.71);
}

.gitlink:hover {
    margin-left: 3px;
    text-shadow: none;
    -webkit-animation: gitlinkdrop 2s infinite;
    animation: gitlinkdrop 2s infinite;
    animation-timing-function:cubic-bezier(10, 0, 15, 0);
}

@keyframes gitlinkdrop {
    0% {
        color: #BF8B75;
    }
    100%{
        color: transparent;
    }
}

.sumshadow {
    text-shadow: 1px 15px 3px rgba(255,255,255,0.71);
}

.githubsky {
    color: #72D6AF;
    font-family: kolkheti;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    left: 18%;
    top: 7.35%;
    -webkit-animation: shadowgitpad 10s linear infinite;
    animation: shadowgitpad 10s linear infinite;
}

.github {
    color: #607B96;
    font-family: kolkheti;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin-top: 81px;
}

.playMusic {
    right: 0;
    top: 12px;

    -webkit-animation: play 10s linear infinite;
    animation: play 10s linear infinite;
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
}

@keyframes play {
    0% {
        transform: scale(1.05);
    }
    50% {
        top: 35px;
    }
    100% {
        top: 12px;
        transform: scale(1);
    }
}

.speakerbtn {
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 12px;
    width: 65px;
    height: 65px;
}

.spkr {
    width: 65px;
    height: 65px;
}



/* Carousel */ 


.neomorph {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: Y mandatory;
    transition: 0.5s ease-in-out;
    background: #061626;
    gap: 20px;
}

.neomorph::-webkit-scrollbar {
    display: none;
}

.karuseli {
    height: 500px !important;
    width: 423px !important;
    scroll-snap-align: center;
}

.shadowDiv {
    width: 500px;
    height: 50px;
    background-color: #011627;
    position: absolute;
    top: -35px;
    left: -5px;
    transform: rotate(-4deg);
    /* border-bottom-left-radius: 55%;
    border-bottom-right-radius: 55%; */
}

.shadowDiv2 {
    width: 500px;
    height: 50px;
    background-color: #011627;
    position: absolute;
    bottom: -35px;
    left: -5px;
    transform: rotate(4deg);
    /* border-top-left-radius: 55%;
    border-top-right-radius: 55%; */
}

.shadowDiv3 {
    width: 500px;
    height: 50px;
    background-color: #011627;
    position: absolute;
    top: -35px;
    right: -5px;
    transform: rotate(4deg);
    /* border-bottom-left-radius: 55%;
    border-bottom-right-radius: 55%; */
}

.shadowDiv4 {
    width: 500px;
    height: 50px;
    background-color: #011627;
    position: absolute;
    bottom: -35px;
    right: -5px;
    transform: rotate(-4deg);
    /* border-top-left-radius: 55%;
    border-top-right-radius: 55%; */
}

.hr-cent {
    width: 100%;
    height: 2px;
    border-radius: 12px;
    background-color: rgb(37,77,78);
}




/* Footer */



.footborder {
    border: 1px solid #1E2D3D;
    margin-top: 48px;
}

.findMe {
    color: #607B96;
    font-family: Firacode;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin: 0;
    text-align: center;
}

.colborder {
    border-right: 1px solid #1E2D3D;
    padding-top: 20px;
    padding-bottom: 20px;
}

.colborder1 {
    border-right: 1px solid #1E2D3D;
}

.social {
    width: 26px;
    height: 29px;
}

.social2 {
    width: 26px;
    height: 29px;
}

.social3 {
    width: 26px;
    height: 29px;
}
.social4 {
    width: 26px;
    height: 29px;
    fill: #BF8B75;
}

.social g:nth-child(3) > path:nth-child(2) {
    fill: #061626 !important;
    transition: 0.7s;
}

.social:hover g:nth-child(3) > path:nth-child(2) {
    fill: #72D6AF !important;
}

.social2 g:nth-child(3) > circle:nth-child(2) {
    fill: #061626 !important;
    transition: 0.7s;
}

.social2:hover g:nth-child(3) > circle:nth-child(2) {
    fill: #72D6AF !important;
}
.social2 g:nth-child(3) > circle:nth-child(3) {
    fill: #061626 !important;
    transition: 0.7s;
}

.social2:hover g:nth-child(3) > circle:nth-child(3) {
    fill: #72D6AF !important;
}

.social3 g:nth-child(3) rect {
    fill: #061626 !important;
    transition: 0.7s;
}

.social3:hover g:nth-child(3) > rect {
    fill: #72D6AF !important;
}

.social4 g:nth-child(3) rect:nth-child(2) {
    fill: transparent !important;
    transition: 0.7s;
}

.deefyb {
    color: #607B96;
    font-family: Firacode;
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin: 0;
}

.colborder707 {
    border-left: 1px solid #1E2D3D;
}

.copyright {
    color: #607B96;
    font-family: kolkati;
    font-size: 11px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin: 0;
    display: flex;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .borderdiv {
        border: none;
    }
    .liborder {
        border: none !important;
    }
    .liborder1 {
        border: none !important;
    }
    .playMusic {
        right: 15px;
    }

    .p-frontend {
        font-size: 24px;
    }

    .textbox {
        padding: 0;
    }

    .githubsky {
        top: 115px;
        left: 10px;
    }
    .neomorph {
        -webkit-animation: none;
        animation: none;
    }
    .karuseli {
        height: 245px !important;
    }
    .copyright {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@keyframes shadowgitpad {
    0% {
        text-shadow: 0px 0px 26px rgba(114,214,175,1);
    }
    25% {
        text-shadow: 0px 17px 2px rgba(114,214,175,1);
    }
    50% {
        text-shadow: -50px 0px 2px rgba(114,214,175,1);
        transform: rotate(-45deg);
    }
    75%{
        text-shadow: 0px -17px 2px rgba(114,214,175,1);
    }
    90%{
        text-shadow: 50px 0px 2px rgba(114,214,175,1);
        transform: rotate(45deg);
    }
    100% {
        text-shadow: 0px 17px 2px rgba(114,214,175,1);
    }
}